:root {
    --accent: #bfc8b6;
    --primary-button: #ccd3c5;
    --secondary-button: #f5f6f3;
    --text: #1a1d16;
    --background: #e6e9e2;
    --min-gap: 20px;
    --max-width: 1200px;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text);
}

body {
    min-height: 200vh;
    background: var(--background);
}