@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root { 
    --accent: #434eba;
    --primary-button: #434eba;
    --secondary-button: #d6d9ff;
    --text: #3c3c3e;
    --background: #ffffff;
    --product-bg: #F4F5FF;
    --p-cat: #E7E9FF;
    --low-contrast: #d8daff;
    --high-contrast: #6d60ad; 
    --min-gap: 20px;
    --max-width: 1200px;
    --primary-font: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text);
    font-family: var(--primary-font);
}

body {
    min-height: 200vh;
    background: var(--background);
    width: 100%;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: calc(100% - 40px);
    max-width: 1200px;
    margin: 0 auto;
}


.fromRightToLeft {
    -webkit-transform: translateX(100px) !important;
        -ms-transform: translateX(100px) !important;
            transform: translateX(100px) !important;
    opacity: 0 !important;
    -webkit-transition: transform 1s ease, opacity 1s ease;
    -o-transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease;
}

.fromLeftToRight {
    -webkit-transform: translateX(-100px) !important;
        -ms-transform: translateX(-100px) !important;
            transform: translateX(-100px) !important;
    opacity: 0 !important;
    -webkit-transition: transform 1s ease, opacity 1s ease;
    -o-transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease;
}
.fromLeftToRight.active, .fromRightToLeft.active {
    -webkit-transform: translateX(0px) !important;
        -ms-transform: translateX(0px) !important;
            transform: translateX(0px) !important;
    opacity: 1 !important;
}
.fromDownToTop {
    -webkit-transform: translateY(100px) !important;
        -ms-transform: translateY(100px) !important;
            transform: translateY(100px) !important;
    opacity: 0 !important;
    -webkit-transition: transform 1s ease, opacity 1s ease;
    -o-transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease;
}
.fromTopToDown {
    -webkit-transform: translateY(-100px) !important;
        -ms-transform: translateY(-100px) !important;
            transform: translateY(-100px) !important;
    opacity: 0 !important;
    -webkit-transition: transform 1s ease, opacity 1s ease;
    -o-transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease;
}
.fromTopToDown.active, .fromDownToTop.active {
    -webkit-transform: translateY(0px) !important;
        -ms-transform: translateY(0px) !important;
            transform: translateY(0px) !important;
    opacity: 1 !important;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.flex .f1 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.flex .f2 {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
}
.flex .f3 {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
}
.flex .f4 {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
}

.flex .f5 {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
}
.flex .f6 {
    -webkit-box-flex: 6;
        -ms-flex: 6;
            flex: 6;
}
.flex .f7 {
    -webkit-box-flex: 7;
        -ms-flex: 7;
            flex: 7;
}
.flex .f8 {
    -webkit-box-flex: 8;
        -ms-flex: 8;
            flex: 8;
}
.flex .f9 {
    -webkit-box-flex: 9;
        -ms-flex: 9;
            flex: 9;
}




.navbar {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 999;
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.navbar .container .brand {
    display: block;
    width: 150px;
    filter: drop-shadow(2px 3px 3px rgba(62, 62, 62, 0.295));
    z-index: 99;
}
.logo img {
    filter: drop-shadow(2px 3px 3px rgba(0, 0, 0, 0.359));
}
.navbar .container .brand img {
    width: 100%;
}
.navbar .container .links {
    display: flex;
    gap: 20px;
}
.navbar .container .links .link {
    display: block;
    font-weight: 500;
    text-decoration: none;
    position: relative;
    color: var(--background);
    -webkit-tap-highlight-color: transparent;
}
.links .link::before {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--background);
    position: absolute;
    bottom: -5px;
    border-radius: 12px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
    z-index: 999;
}
.links .link:hover::before, .links .link.active::before {
    width: 90%;
}


.menu {
    display: none;
}




.section1 {
    height: auto;
    overflow: hidden;
    position: relative;
    background: url(./pic/bg2.svg);
    background-size: cover;
    background-position: 50% 50%;

}
.autoHeight {
    height: 200px;
}

.doorGallery {
    width: 100%;
    position: relative;
    height: 580px;
}
.door {
    display: flex;
    position: absolute;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.door > div {
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}

.doorLeft {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    transform: translateX(-100px);
}
.doorLeft .appIcon {
    width: 150px;
}
.doorLeft .appTitle {
    font-size: 40px;
    max-width: 80%;
    color: var(--background);
}
.doorLeft .appSub {
    font-size: 20px;
    color: var(--background);
}
.doorRight {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    transform: translateX(100px);
}
.doorRight img {
    max-width: 500px;
    height: 580px;
    object-fit: contain;
}
.indicator {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 5px;
    gap: 10px;
}

.door.active .doorLeft, .door.active .doorRight {
    transform: translateX(0px);
    visibility: visible;
    opacity: 1;
}

.indicator .item {
    height: 10px;
    width: 20px;
    background: var(--low-contrast);
    transition: 1s;
    border-radius: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.indicator .item.active {
    width: 30px;
    background: var(--high-contrast);
}



.heading {
    padding-top: 75px;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    padding-bottom: 40px;
}

.section2 .container {
    flex-wrap: wrap;
    gap: 20px;
}
.section2 .container .left {
    gap: 20px;
    flex-wrap: wrap;
}
.section2 .container .right .product {
    height: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
}
.container .product {
    background: var(--product-bg);
    border-radius: 8px;
    position: relative;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px;
    padding-top: 30px;
    min-height: 250px;
}
.product .category {
    background: var(--p-cat);
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    width: max-content;
    padding: 3px 20px;
}
.product .productImage {
    height: 100px;
}
.product .productImage img {
    height: 100%;
}
.productInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.productInfo .title {
    font-weight: 500;
    font-size: 30px;
}
.productInfo .sub {
    font-weight: 500;
    font-size: 14px;
    color: #70766b;
}
.productInfo .rating {
    height: 14px;
    width: 120px;
}

.full_w {
    width: 100%;
}
.primaryBtn {
    border: 2px solid transparent;
    background: var(--primary-button);
    color: var(--background);
    text-decoration: none;
    padding: 10px 30px;
    display: block;
    width: max-content;
    margin: 20px auto;
    border-radius: 6px;
    transition: 0.5s ease;
    -webkit-tap-highlight-color: transparent;
}
.primaryBtn:hover {
    background: var(--background);
    border: 2px solid var(--primary-button);
    color: var(--primary-button);
}

.btnGroup {
    display: flex;
    gap: 20px;
}

.appStoreBtn, .playStoreBtn {
    background: black;
    color: rgb(164, 164, 164);
    text-decoration: none;
    display: flex;
    gap: 10px;
    padding: 10px 20px;
    align-items: center;
    border-radius: 6px;
    transition: 0.5s;
    -webkit-tap-highlight-color: transparent;
}
.appStoreBtn img, .playStoreBtn img {
    height: 30px;
    filter: grayscale(0.9);
    transition: 0.5s;
}
.appStoreBtn:hover img, .playStoreBtn:hover img {
    filter: grayscale(0);
}
.appStoreBtn:hover, .playStoreBtn:hover {
    color: var(--background);
}



.windowGallery {
    height: 650px;
    width: 100%;
    position: relative;
}
.window {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 50px;
}
.window > div {
    visibility: hidden;
    filter: blur(10px);
    transform: scale(1.1);
    opacity: 0;
    transition: 2s;
}
.windowLeft {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    /* transform: translateX(100px); */
}
.windowLeft img {
    max-width: 500px;
    height: 100%;
    object-fit: contain;
}
.windowRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    /* transform: translateX(-100px); */
    /* filter: blur(10px); */
    z-index: -1;
}
.windowRight .appIcon {
    height: 120px;
    object-fit: contain;
}
.windowRight .appTitle {
    font-size: 40px;
    max-width: 80%;
}
.windowRight .appList {
    list-style-type: none;
}

.window.active .windowLeft, .window.active .windowRight {
    /* transform: translateX(0px); */
    filter: blur(0px);
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    /* z-index: 99; */
}
.window.active .windowRight {
    z-index: 99;
}


.counter_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px;
    padding-bottom: 40px;
}

.c_counter {
    border: 2px solid var(--low-contrast);
    border-radius: 20px;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    padding: 10px;
}

.c_counter .up {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    min-width: 80px;
}
.c_counter .up .counter {
    color: var(--low-contrast);
    font-weight: 700;
    font-size: 30px;
}
span.extra {
    
    color: var(--low-contrast);
    font-weight: 600;
    display: block;
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .abtUs span {
    display: inline-block;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    margin: 5px 1px;
    opacity: 0;
  }


  .upScale {
    font-size: 25px;
    font-weight: 300;
  }

  .allCardContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0;
    gap: 20px 0px;
    position: relative;
  }
  .cardContainer {
    min-width: 45%;
    flex: 1;
  }
  .cardContainer.inLeft {
    padding-right: 50px;
  }
  .cardContainer.inRight {
    padding-left: 50px;
  }
  .card {
    gap: 20px;
    align-items: center;
    height: 200px;
    position: relative;
  }

  .cardContainer.inRight .card {
    flex-direction: row-reverse;
    margin-top: 50px;
  }

  .allCardContainer::before, .allCardContainer::after {
    content: '';
    height: 20px;
    width: 20px;
    border-radius: 30px;
    background: var(--low-contrast);
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  .allCardContainer::after {
    height: calc(100% + 500px);
    width: 2px;
  }

  .card::before {
    content: '';
    height: 2px;
    width: 50px;
    border-radius: 30px;
    background: var(--low-contrast);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .cardContainer.inRight .card::before {
    left: -50px;
  }
  .cardContainer.inLeft .card::before {
    right: -50px;
  }

  .info .title {
    font-weight: 600;
    font-size: 30px;
  }
  .info .subTitle {
    font-size: 15px;
    padding-top: 15px;
    line-height: 25px;
    letter-spacing: 0.4px;
  }
  .icon.f1 {
    height: 100px;
  }
  .icon.f1 img {
    height: 100%;
  }

  .section5 {
    background: var(--product-bg);
    min-height: 500px;
    width: 100%;
    overflow: hidden;
  }


  .slideFrame {

  }
  .slideFrame .slider {
    width: 100%;
    display: flex;
    gap: 20px;
    width: auto;
    transition: 1s ease;
  }
  .slideFrame .slider .slide {
    border-radius: 12px;
    text-align: center;
    aspect-ratio: 0.8;
    position: relative;
  }
  .slide .image {
    width: 100%;
    height: 70%;
  }
  .slide .image img {
    width: 100%;
    object-fit: cover;
  }
  .slide .info {
    width: 90%;
    height: 25%;
    background: var(--background);
    position: absolute;
    border-radius: 6px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.322);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding: 10px;
  }
  .slide .info .name {
    font-size: 16px;
    font-weight: 500;
  }
  .slide .info .desig {
    font-size: 14px;
    color: rgb(104, 104, 104);
  }

  .controll {
    justify-content: space-between;
    gap: 20px;
  }

  .arrow {
    width: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    filter: grayscale(10);
    transition: 0.5;
    -webkit-tap-highlight-color: transparent;
  }
  .arrow:hover {
    filter: grayscale(0);
  }
  .arrow.al {
    justify-content: left;
  }
  .arrow.ar {
    justify-content: right;
  }
  .arrow img {
    width: inherit;
    object-fit: cover;
  }



  form.form {
    margin: 0 auto;
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 20px;
    background: var(--secondary-button);
    border-radius: 20px;
    flex-wrap: wrap;
}
.input {
    flex: 1;
    background: var(--background);
    padding: 10px;
    border-radius: 12px;
    min-width: 300px;
}
.input.full {
    min-width: 100%;
}
.input label {
    display: inline-block;
    width: 150px;
    padding-bottom: 10px;
}
.input input, .input textarea {
    border: none;
    background: rgb(235, 242, 255);
    padding: 10px;
    border-radius: 8px;
    width: 100%;
}
.input textarea {
    max-width: 100%;
    min-width: 100%;
}
form.form button {
    width: 100%;
    font-size: 20px;
    padding: 10px 0;
    cursor: pointer;
    border-radius: 12px;
    border: 2px solid transparent;
    background: var(--background);
    transition: 0.5s;
}
form.form button:hover {
    background: var(--text);
    color: var(--background);
    border: 2px solid white;
}


.companyInfo {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.logoBig {
    position: absolute;
    height: 50%;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0.5;
    filter: blur(2px);
    z-index: -1;
}
.logoBig img {
    height: 100%;
    object-fit: contain;
}
.clickableLink {
    min-width: 300px;
    width: max-content;
    gap: 10px;
    padding: 10px 20px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    transition: 1s ease;
}
.clickableLink p {
    color: var(--accent);
    font-weight: 500;
    font-size: 28px;
    
}
.clickableLink img {
    width: 40px;
    height: 100%;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.168));
}

.clickableLink:hover {
    background: var(--low-contrast);
}
.address {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.address p {
    font-size: 16px;
    font-weight: 500;
    text-shadow: 0px 0px 3px white;
}

.inspire {
    font-size: 30px;
    font-weight: 500;
    color: var(--high-contrast);
    text-align: center;
}
.inspire.sm {
    width: 80% !important;
    margin: 0 auto;
}

.whyWe {
    margin: 40px 0;
    gap: 30px;
}
.whyWe .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.whyWe .info h2 {
    text-align: left;
    padding-bottom: 20px;
}
.whyWe .info p {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.6px;
    line-height: 40px;
}
.whyWe .img {
    height: 400px;
    overflow: hidden;
    border-radius: 22px;
}
.whyWe .img img {
    width: 100%;
}
.parentOfCare {
    gap: 50px;
}
.f1.care {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.headSubItem {
    background: var(--accent);
    color: var(--background);
    padding: 5px 30px;
    font-size: 20px;
    text-align: center;
    clip-path: polygon(calc(100% - 20px) 0, 100% 50%, calc(100% - 20px) 100%, 0% 100%, 20px 50%, 0% 0%);;
}


.excep {
    font-size: 20px !important;
}

.section2,.section3, .section5, .section6, .section7, .section8 {
    overflow-x: hidden;
}

.footer {
    padding: 20px 0;
    min-height: 200px;
    background: rgb(129, 139, 163);
}
.logo {
    max-width: 250px;
    margin: 0 auto;
}
.logo img {
    width: 100%;
}
.copyRight {
    color: var(--background);
    text-align: center;
    border-top: 1px solid var(--background);
    padding-top: 10px;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}
.social .sImg {
    text-decoration: none;
    display: block;
    height: 50px;
    background: white;
    border: 1px solid white;
    border-radius: 16px;
    overflow: hidden;
    transition: 0.5s;
}
.social .sImg img {
    height: 100%;
}
.social .sImg:hover {
    background: var(--accent);
    border: 1px solid var(--accent);
}

.section2 {
    position: relative;
    background: var(--product-bg);
    overflow: hidden;
}
.lafaLafi {
    position: absolute;
    background: var(--background);
    height: 200px;
    width: 200px;
    opacity: 0;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
}
.lafaLafi.active {
    animation: deJump 2s ease 0s 1 forwards;
}
@keyframes deJump {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0;
        top: calc(100% - 200px);
        border-radius: 0px;
        transform: rotate(-360deg);
    }
    40% {
        width: 200px;
        height: 200px;
        top: 50%;
        opacity: 1;
        transform: rotate(0deg);
        border-radius: 0px;
    }
    60% {
        border-radius: 100px;
        transform: scale(0.7);
    }
    to {
        opacity: 1;
        transform: scale(20);
    }
}

@media (max-width: 1000px) {

    .container .product {
        background: var(--product-bg);
        border-radius: 8px;
        position: relative;
        display: flex;
        gap: 20px;
        align-items: center;
        padding: 20px;
        padding-top: 30px;
        min-height: 250px;
    }
    .product .category {
        font-size: 12px;
    }
    .product .productImage {
        height: 80px;
    }
    .productInfo .title {
        font-size: 22px;
    }
    .productInfo .rating {
        height: 12px;
        width: 100px;
    }

}


@media (max-width: 900px) {
    div.links {
        position: fixed;
        background: #817ea2ea;
        width: 100%;
        height: 0%;
        left: 0;
        top: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        opacity: 0;
        transition: 0.5s;
        visibility: hidden;
        
    }
    div.links.activ {
        visibility: visible;
        opacity: 1;
        height: 100%;
    }
    div.links .link {
        font-size: 20px;
    }
    .menu {
        height: 40px;
        width: 40px;
        border-radius: 5px;
        display: block;
        position: relative;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    }
    
    .menu .burger {
        height: 100%;
        width: 100%;
        background: transparent;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        overflow: hidden;
    }
    
    .menu .burger .up,
    .menu .burger .mid,
    .menu .burger .down {
        height: 3px;
        width: 20px;
        background: var(--background);
        position: absolute;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        border-radius: 5px;
        right: 4px;
        -webkit-transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        -o-transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    
    .menu .burger .up {
        width: 32px;
        top: 25%;
    }
    .menu .burger .mid {
        width: 15px;
        top: 50%;
    }
    .menu .burger .down {
        width: 24px;
        top: 75%;
    }
    
    .menu.active .burger .up {
        width: 32px;
        top: 50%;
        left: 50%;
        right: none;
        -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            -ms-transform: translate(-50%, -50%) rotate(-45deg);
                transform: translate(-50%, -50%) rotate(-45deg);
    }
    .menu.active .burger .mid {
        -webkit-transform: translate(150%, -50%);
            -ms-transform: translate(150%, -50%);
                transform: translate(150%, -50%);
    }
    .menu.active .burger .down {
        width: 32px;
        left: 50%;
        right: none;
        top: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
            -ms-transform: translate(-50%, -50%) rotate(45deg);
                transform: translate(-50%, -50%) rotate(45deg);
    }

    .autoHeight {
        height: 150px;
    }
    
    .doorGallery {
        width: 100%;
        height: 750px;
    }
    
    .door > div, .window > div {
        min-width: 450px;
    }

    
    .doorLeft , .windowLeft {
        align-items: center;
        padding-bottom: 50px;
        text-align: center;
    }
    .doorLeft .appIcon {
        width: 120px;
    }
    .doorLeft .appTitle {
        font-size: 35px;
        max-width: 90%;
    }
    .doorRight {
        justify-content: center;
    }
    .doorRight img {
        max-width: 100%;
        height: 400px;
        object-fit: contain;
    }



    
   
     
    .windowGallery {
        height: 800px;
    }
    .window {
        gap: 10px;
    }
    .windowLeft {
        justify-content: center;
        height: 400px;
        padding-bottom: 0px;
    }
    .windowLeft img {
        max-width: 450px;
        height: 100%;
        object-fit: contain;
    }
    .windowRight {
        justify-content: center;
        align-items: left;
        height: auto;
        padding: 0 40px;
    }
    .windowRight .appIcon {
        height: 90px;
    }
    .windowRight .appTitle {
        font-size: 30px;
        font-weight: 600;
    }
    .windowRight .appList {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.7px;
        word-spacing: 1px;
    }




    .counter_container {
        gap: 20px;
        flex-wrap: wrap;
    }
    
    .c_counter {
        width: 140px;
    }
    
    .c_counter .up {
        min-width: 60px;
    }
    .c_counter .up .counter {
        font-size: 28px;
    }
    span.extra {
        font-size: 28px;
    }
    span.excep {
        font-size: 12px !important;
    }
    .abtUsText {
        font-size: 16px;
        padding-bottom: 20px;
    }
    

      .upScale {
        font-size: 24px;
        font-weight: 300;
      }

      
  .allCardContainer {
    padding: 40px 0;
    gap: 50px;
  }
  .cardContainer {
    min-width: 80%;
    max-width: 80%;
    margin: 0 auto;
  }
  .cardContainer.inLeft {
    padding-right: 0px;
  }
  .cardContainer.inRight {
    padding-left: 0px;
  }
  .card {
    gap: 20px;
    align-items: center;
    height: auto;
    position: relative;
  }

  .cardContainer.inRight .card {
    margin-top: 0px;
  }

  .allCardContainer::before, .allCardContainer::after {
    content: none;
  }

  .card::before {
    content: none;
  }


  .info .title {
    font-size: 30px;
  }


  .section8 > .flex {
    flex-direction: column;
    gap: 50px;
  }


}

@media (max-width: 800px) {
    .inspire {
        font-size: 26px;
    }
    
    
    .whyWe {
        flex-direction: column;
    }
    .whyWe .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .whyWe .info h2 {
        text-align: left;
        padding-bottom: 20px;
    }
    .whyWe .info p {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.6px;
        line-height: 40px;
    }
    .whyWe .img {
        max-height: 400px;
    }
    .whyWe .img img {
        width: 100%;
        object-fit: cover;
    }
    .parentOfCare {
        gap: 20px;
        flex-direction: column;
    }
    .f1.care {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 750px) {
    .windowGallery {
        height: 800px;
    }
    .windowLeft {
        justify-content: center;
        height: 350px;
    }
    .windowLeft img {
        max-width: 450px;
        height: 100%;
        object-fit: contain;
    }
    .windowRight {
        gap: 10px;
        padding: 0 40px;
    }
    .windowRight .appIcon {
        height: 80px;
    }
    .windowRight .appTitle {
        font-size: 24px;
        font-weight: 600;
    }

    
    span.extra {
        font-size: 20px;
    }
    .counter_container {
        gap: 20px;
    }
    
    .c_counter {
        width: 120px;
    }
    
    .c_counter .up {
        min-width: 60px;
    }
    .c_counter .up .counter {
        font-size: 20px;
    }
    .excep {
        font-size: 14px;
    }


    .allCardContainer {
        padding: 40px 0;
        gap: 50px;
      }
      .cardContainer {
        min-width: 80%;
        max-width: 80%;
        margin: 0 auto;
      }
      .cardContainer.inLeft {
        padding-right: 0px;
      }
      .cardContainer.inRight {
        padding-left: 0px;
      }
      .card {
        gap: 20px;
        align-items: center;
        height: auto;
        position: relative;
      }
    
      .cardContainer.inRight .card {
        margin-top: 0px;
      }
    
      .allCardContainer::before, .allCardContainer::after {
        content: none;
      }
    
      .card::before {
        content: none;
      }
    
    
      .info .title {
        font-size: 30px;
      }
}

@media (max-width: 650px) {

    .autoHeight {
        height: 120px;
    }
    .section2 .container {
        flex-direction: column;
    }
    .section2 .container .right .product {
        height: auto;
        flex-direction: row;
    }
    .container .product {
        min-height: 170px;
    }
}



@media (max-width: 500px) {
    .doorGallery {
        width: 100%;
        height: 700px;
    }
    
    .door > div, .window > div {
        min-width: 260px;
    }
    .doorLeft {
        gap: 10px;
    }
    .doorLeft .appIcon {
        width: 100px;
    }
    .doorLeft .appTitle {
        font-size: 24px;
        max-width: 90%;
    }
    .doorRight {
        justify-content: center;
    }
    .doorRight img {
        max-width: 100%;
        height: 400px;
        object-fit: contain;
    }



    
   
     
    .windowGallery {
        height: 800px;
    }
    .window {
        gap: 20px;
    }
    .windowLeft {
        justify-content: center;
        height: 350px;
        padding-bottom: 0px;
    }
    .windowLeft img {
        max-width: 450px;
        height: 100%;
        object-fit: contain;
    }
    .windowRight {
        justify-content: center;
        align-items: left;
        height: auto;
        padding: 0px;
    }
    .windowRight .appIcon {
        height: 90px;
    }
    .windowRight .appTitle {
        font-size: 30px;
        font-weight: 600;
    }
    .windowRight .appList {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.7px;
        word-spacing: 1px;
    }




    .counter_container {
        gap: 20px;
        flex-wrap: wrap;
    }

    .c_counter .up .counter {
        font-size: 28px;
    }
    span.extra {
        font-size: 28px;
    }
    span.excep {
        font-size: 16px !important;
    }
    .abtUsText {
        font-size: 16px;
        padding-bottom: 20px;
    }
    

      .upScale {
        font-size: 24px;
        font-weight: 300;
      }

      
  .allCardContainer {
    padding: 40px 0;
    gap: 50px;
  }
  .cardContainer {
    min-width: 100%;
    margin: 0 auto;
  }
  .cardContainer.inLeft {
    padding-right: 0px;
  }
  .cardContainer.inRight {
    padding-left: 0px;
  }
  .card {
    gap: 20px;
    align-items: center;
    height: auto;
    position: relative;
  }

  .cardContainer.inRight .card {
    margin-top: 0px;
  }

  .allCardContainer::before, .allCardContainer::after {
    content: none;
  }

  .card::before {
    content: none;
  }


  .info .title {
    font-size: 20px;
  }
  .info .subTitle {
    font-size: 14px;
  }


  .primaryBtn {
    padding: 10px 30px;
    margin: 20px auto;
    border-radius: 6px;
}


.btnGroup {
    display: flex;
    gap: 20px;
}

.appStoreBtn, .playStoreBtn {
    font-size: 14px;
    padding: 10px;
}
.appStoreBtn img, .playStoreBtn img {
    height: 25px;
}
.heading {
    font-size: 28px;
}

.sm-f5 {
    flex: 4 !important;
}

.icon.f1 img {
    width: 100%;
}

.inspire {
    font-size: 24px;
}
.inspire.sm {
    width: 90% !important;
}
.whyWe .info h2 {
    text-align: left;
    padding-bottom: 20px;
}
.whyWe .info p {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.6px;
    word-spacing: 2px;
    line-height: 25px;
}
.whyWe .img {
    max-height: 300px;
    width: 100%;
}
.whyWe .img img {
    width: 100%;
    object-fit: cover;
}
.parentOfCare {
    gap: 20px;
    flex-direction: column;
}
.f1.care {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.headSubItem {
    font-size: 16px;
    font-weight: 500;
}
.input {
    min-width: 200px;
}
.clickableLink {
    width: 100%;
}
.clickableLink p {
    font-size: 22px;
    word-break: break-all;
}

.logoBig {
    bottom: 10px !important;
}





}