@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --accent: #bfc8b6;
    --primary-button: #ccd3c5;
    --secondary-button: #f5f6f3;
    --text: #1a1d16;
    --background: #e6e9e2;
    --min-gap: 20px;
    --max-width: 1200px;
    --product-bg: #DCE0D6;
    --low-contrast: #B2C89C;
    --high_contrast: #79945E;
    --primary-font: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text);
    font-family: var(--primary-font);
}

body {
    min-height: 200vh;
    background: var(--background);
    width: 100%;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}


.fromRightToLeft {
    -webkit-transform: translateX(100px) !important;
        -ms-transform: translateX(100px) !important;
            transform: translateX(100px) !important;
    opacity: 0 !important;
    -webkit-transition: transform 1s ease, opacity 1s ease;
    -o-transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease;
}

.fromLeftToRight {
    -webkit-transform: translateX(-100px) !important;
        -ms-transform: translateX(-100px) !important;
            transform: translateX(-100px) !important;
    opacity: 0 !important;
    -webkit-transition: transform 1s ease, opacity 1s ease;
    -o-transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease;
}
.fromLeftToRight.active, .fromRightToLeft.active {
    -webkit-transform: translateX(0px) !important;
        -ms-transform: translateX(0px) !important;
            transform: translateX(0px) !important;
    opacity: 1 !important;
}
.fromDownToTop {
    -webkit-transform: translateY(100px) !important;
        -ms-transform: translateY(100px) !important;
            transform: translateY(100px) !important;
    opacity: 0 !important;
    -webkit-transition: transform 1s ease, opacity 1s ease;
    -o-transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease;
}
.fromTopToDown {
    -webkit-transform: translateY(-100px) !important;
        -ms-transform: translateY(-100px) !important;
            transform: translateY(-100px) !important;
    opacity: 0 !important;
    -webkit-transition: transform 1s ease, opacity 1s ease;
    -o-transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease;
}
.fromTopToDown.active, .fromDownToTop.active {
    -webkit-transform: translateY(0px) !important;
        -ms-transform: translateY(0px) !important;
            transform: translateY(0px) !important;
    opacity: 1 !important;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.flex .f1 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.flex .f2 {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
}
.flex .f3 {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
}
.flex .f4 {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
}

.flex .f5 {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
}
.flex .f6 {
    -webkit-box-flex: 6;
        -ms-flex: 6;
            flex: 6;
}
.flex .f7 {
    -webkit-box-flex: 7;
        -ms-flex: 7;
            flex: 7;
}
.flex .f8 {
    -webkit-box-flex: 8;
        -ms-flex: 8;
            flex: 8;
}
.flex .f9 {
    -webkit-box-flex: 9;
        -ms-flex: 9;
            flex: 9;
}




.navbar {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 999;
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.navbar .container .brand {
    display: block;
    width: 150px;
}
.navbar .container .brand img {
    width: 100%;
}
.navbar .container .links {
    display: flex;
    gap: 20px;
}
.navbar .container .links .link {
    display: block;
    font-weight: 500;
    text-decoration: none;
    position: relative;
}
.links .link::before {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--text);
    position: absolute;
    bottom: -5px;
    border-radius: 12px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
}
.links .link:hover::before, .links .link.active::before {
    width: 90%;
}


.section1 {
    min-height: 80vh;
    overflow: hidden;
    position: relative;
    background: url(./pic/landingBG.svg);
    background-size: cover;
    background-position: 50% 50%;

}
.autoHeight {
    height: 200px;
}

.doorGallery {
    width: 100%;
    position: relative;
    height: 580px;
}
.door {
    display: flex;
    position: absolute;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.door > div {
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}

.doorLeft {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    transform: translateX(-100px);
}
.doorLeft .appIcon {
    width: 150px;
}
.doorLeft .appTitle {
    font-size: 40px;
    max-width: 80%;
}
.doorLeft .appSub {
    font-size: 20px;
}
.doorRight {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    transform: translateX(100px);
}
.doorRight img {
    max-width: 500px;
    height: 580px;
    object-fit: contain;
}
.indicator {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.door.active .doorLeft, .door.active .doorRight {
    transform: translateX(0px);
    visibility: visible;
    opacity: 1;
}

.indicator .item {
    height: 10px;
    width: 20px;
    background: var(--low-contrast);
    transition: 1s;
    border-radius: 20px;
    cursor: pointer;
}
.indicator .item.active {
    width: 30px;
    background: var(--high_contrast);
}

.heading {
    padding-top: 70px;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    padding-bottom: 60px;
}

.section2 .container {
    flex-wrap: wrap;
    gap: 20px;
}
.section2 .container .left {
    gap: 20px;
    flex-wrap: wrap;
}
.section2 .container .right .product {
    height: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
}
.container .product {
    background: var(--product-bg);
    border-radius: 8px;
    position: relative;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px;
    padding-top: 30px;
    min-height: 250px;
}
.product .category {
    background: var(--accent);
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    width: max-content;
    padding: 3px 20px;
}
.product .productImage {
    height: 100px;
}
.product .productImage img {
    height: 100%;
}
.productInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.productInfo .title {
    font-weight: 500;
    font-size: 30px;
}
.productInfo .sub {
    font-weight: 500;
    font-size: 14px;
    color: #70766b;
}
.productInfo .rating {
    height: 14px;
    width: 120px;
}

.full_w {
    width: 100%;
}
.primaryBtn {
    background: var(--primary-button);
    text-decoration: none;
    padding: 10px 30px;
    display: block;
    width: max-content;
    margin: 20px auto;
    border-radius: 6px;
    transition: 0.5s ease;
}
.primaryBtn:hover {
    background: var(--text);
    color: var(--primary-button);
}

.btnGroup {
    display: flex;
    gap: 20px;
}

.appStoreBtn, .playStoreBtn {
    background: var(--text);
    color: rgb(164, 164, 164);
    text-decoration: none;
    display: flex;
    gap: 10px;
    padding: 10px 20px;
    align-items: center;
    border-radius: 6px;
    transition: 0.5s;
}
.appStoreBtn img, .playStoreBtn img {
    height: 30px;
    filter: grayscale(0.9);
    transition: 0.5s;
}
.appStoreBtn:hover img, .playStoreBtn:hover img {
    filter: grayscale(0);
}
.appStoreBtn:hover, .playStoreBtn:hover {
    color: var(--background);
}



.windowGallery {
    height: 650px;
    width: 100%;
    position: relative;
}
.window {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 50px;
}
.window > div {
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}
.windowLeft {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    transform: translateX(100px);
}
.windowLeft img {
    max-width: 500px;
    height: 100%;
    object-fit: contain;
}
.windowRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    transform: translateX(-100px);
}
.windowRight .appIcon {
    height: 120px;
    object-fit: contain;
}
.windowRight .appTitle {
    font-size: 40px;
    max-width: 80%;
}
.windowRight .appList {
    list-style-type: none;
}

.window.active .windowLeft, .window.active .windowRight {
    transform: translateX(0px);
    visibility: visible;
    opacity: 1;
}